.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

.border-sm {
  border: 1px solid var(--color-primary);
}

.border-md {
  border: 2px solid var(--color-primary);
}

.border-lg {
  border: 3px solid var(--color-primary);
}

.border-none {
  border: none;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-red {
  background-color: var(--color-red);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-black {
  background-color: var(--color-black);
}

@for $i from 12 through 0 {
  .col-#{$i} {
    width: #{(100% / 12) * $i};
  }
  .col-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      width: #{(100% / 12) * $i};
    }
  }

  .col-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      width: #{(100% / 12) * $i};
    }
  }

  .col-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      width: #{(100% / 12) * $i};
    }
  }
  .col-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      width: #{(100% / 12) * $i};
    }
  }
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.direction-sm-row {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    flex-direction: row;
  }
}

.direction-sm-column {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    flex-direction: column;
  }
}

.direction-md-row {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    flex-direction: row;
  }
}

.direction-md-column {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    flex-direction: column;
  }
}

.direction-lg-row {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    flex-direction: row;
  }
}

.direction-lg-column {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    flex-direction: column;
  }
}

.direction-xl-row {
  @media only screen and (min-width: pxToEm(1200)) {
    flex-direction: row;
  }
}

.direction-xl-column {
  @media only screen and (min-width: pxToEm(1200)) {
    flex-direction: column;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.display-hidden {
  visibility: hidden;
  opacity: 0;
}

.display-sm-none {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    display: none;
  }
}

.display-sm-block {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    display: block;
  }
}

.display-sm-inline-block {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    display: inline-block;
  }
}

.display-sm-flex {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    display: flex;
  }
}

.display-sm-hidden {
  @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
    visibility: hidden;
    opacity: 0;
  }
}

.display-md-none {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    display: none;
  }
}

.display-md-block {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    display: block;
  }
}

.display-md-inline-block {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    display: inline-block;
  }
}

.display-md-flex {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    display: flex;
  }
}

.display-md-hidden {
  @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
    visibility: hidden;
    opacity: 0;
  }
}

.display-lg-none {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    display: none;
  }
}

.display-lg-block {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    display: block;
  }
}

.display-lg-inline-block {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    display: inline-block;
  }
}

.display-lg-flex {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    display: flex;
  }
}

.display-lg-hidden {
  @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
    visibility: hidden;
    opacity: 0;
  }
}

.display-xl-none {
  @media only screen and (min-width: pxToEm(1200)) {
    display: none;
  }
}

.display-xl-block {
  @media only screen and (min-width: pxToEm(1200)) {
    display: block;
  }
}

.display-xl-inline-block {
  @media only screen and (min-width: pxToEm(1200)) {
    display: inline-block;
  }
}

.display-xl-flex {
  @media only screen and (min-width: pxToEm(1200)) {
    display: flex;
  }
}

.display-xl-hidden {
  @media only screen and (min-width: pxToEm(1200)) {
    visibility: hidden;
    opacity: 0;
  }
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-shrink {
  flex: 0 1 auto;
}

.flex-none {
  flex: 0 0 auto;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.position-top {
  top: 0;
}

.position-bottom {
  bottom: 0;
}

.position-left {
  left: 0;
}

.position-right {
  right: 0;
}

@for $i from 12 through -12 {
  .margin-#{$i} {
    margin: #{$i * 4}px;
  }

  .margin-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin: #{$i * 4}px;
    }
  }

  .margin-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin: #{$i * 4}px;
    }
  }

  .margin-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      margin: #{$i * 4}px;
    }
  }

  .margin-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin: #{$i * 4}px;
    }
  }

  .margin-bottom-#{$i} {
    margin-bottom: #{$i * 4}px;
  }

  .margin-bottom-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin-bottom: #{$i * 4}px;
    }
  }

  .margin-bottom-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin-bottom: #{$i * 4}px;
    }
  }

  .margin-bottom-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      margin-bottom: #{$i * 4}px;
    }
  }

  .margin-bottom-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin-bottom: #{$i * 4}px;
    }
  }

  .margin-top-#{$i} {
    margin-top: #{$i * 4}px;
  }

  .margin-top-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin-top: #{$i * 4}px;
    }
  }

  .margin-top-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin-top: #{$i * 4}px;
    }
  }

  .margin-top-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      margin-top: #{$i * 4}px;
    }
  }

  .margin-top-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin-top: #{$i * 4}px;
    }
  }

  .margin-left-#{$i} {
    margin-left: #{$i * 4}px;
  }

  .margin-left-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin-left: #{$i * 4}px;
    }
  }

  .margin-left-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin-left: #{$i * 4}px;
    }
  }

  .margin-left-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(996)) {
      margin-left: #{$i * 4}px;
    }
  }

  .margin-left-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin-left: #{$i * 4}px;
    }
  }

  .margin-right-#{$i} {
    margin-right: #{$i * 4}px;
  }

  .margin-right-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin-right: #{$i * 4}px;
    }
  }

  .margin-right-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin-right: #{$i * 4}px;
    }
  }

  .margin-right-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      margin-right: #{$i * 4}px;
    }
  }

  .margin-right-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin-right: #{$i * 4}px;
    }
  }

  .marginX-#{$i} {
    margin-left: #{$i * 4}px;
    margin-right: #{$i * 4}px;
  }

  .marginX-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin-left: #{$i * 4}px;
      margin-right: #{$i * 4}px;
    }
  }

  .marginX-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin-left: #{$i * 4}px;
      margin-right: #{$i * 4}px;
    }
  }

  .marginX-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      margin-left: #{$i * 4}px;
      margin-right: #{$i * 4}px;
    }
  }

  .marginX-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin-left: #{$i * 4}px;
      margin-right: #{$i * 4}px;
    }
  }

  .marginY-#{$i} {
    margin-top: #{$i * 4}px;
    margin-bottom: #{$i * 4}px;
  }

  .marginY-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      margin-top: #{$i * 4}px;
      margin-bottom: #{$i * 4}px;
    }
  }

  .marginY-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      margin-top: #{$i * 4}px;
      margin-bottom: #{$i * 4}px;
    }
  }

  .marginY-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      margin-top: #{$i * 4}px;
      margin-bottom: #{$i * 4}px;
    }
  }

  .marginY-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      margin-top: #{$i * 4}px;
      margin-bottom: #{$i * 4}px;
    }
  }
}

.margin-auto {
  margin: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.opacity-0 {
  opacity: 0;
}

@for $i from 9 through 1 {
  .opacity-0-#{$i} {
    opacity: #{$i / 10};
  }
}

.opacity-1 {
  opacity: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-scroll-x {
  overflow-x: scroll;
}

.overflow-scroll-y {
  overflow-y: scroll;
}

.overflow-auto {
  overflow: auto;
}

@for $i from 12 through 0 {
  .padding-#{$i} {
    padding: #{$i * 4}px;
  }

  .padding-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding: #{$i * 4}px;
    }
  }

  .padding-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding: #{$i * 4}px;
    }
  }

  .padding-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding: #{$i * 4}px;
    }
  }

  .padding-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding: #{$i * 4}px;
    }
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i * 4}px;
  }

  .padding-bottom-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding-bottom: #{$i * 4}px;
    }
  }

  .padding-bottom-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding-bottom: #{$i * 4}px;
    }
  }

  .padding-bottom-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding-bottom: #{$i * 4}px;
    }
  }

  .padding-bottom-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding-bottom: #{$i * 4}px;
    }
  }

  .padding-top-#{$i} {
    padding-top: #{$i * 4}px;
  }

  .padding-top-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding-top: #{$i * 4}px;
    }
  }

  .padding-top-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding-top: #{$i * 4}px;
    }
  }

  .padding-top-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding-top: #{$i * 4}px;
    }
  }

  .padding-top-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding-top: #{$i * 4}px;
    }
  }

  .padding-left-#{$i} {
    padding-left: #{$i * 4}px;
  }

  .padding-left-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding-left: #{$i * 4}px;
    }
  }

  .padding-left-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding-left: #{$i * 4}px;
    }
  }

  .padding-left-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding-left: #{$i * 4}px;
    }
  }

  .padding-left-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding-left: #{$i * 4}px;
    }
  }

  .padding-right-#{$i} {
    padding-right: #{$i * 4}px;
  }

  .padding-right-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding-right: #{$i * 4}px;
    }
  }

  .padding-right-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding-right: #{$i * 4}px;
    }
  }

  .padding-right-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding-right: #{$i * 4}px;
    }
  }

  .padding-right-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding-right: #{$i * 4}px;
    }
  }

  .paddingX-#{$i} {
    padding-left: #{$i * 4}px;
    padding-right: #{$i * 4}px;
  }

  .paddingX-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding-left: #{$i * 4}px;
      padding-right: #{$i * 4}px;
    }
  }

  .paddingX-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding-left: #{$i * 4}px;
      padding-right: #{$i * 4}px;
    }
  }

  .paddingX-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding-left: #{$i * 4}px;
      padding-right: #{$i * 4}px;
    }
  }

  .paddingX-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding-left: #{$i * 4}px;
      padding-right: #{$i * 4}px;
    }
  }

  .paddingY-#{$i} {
    padding-top: #{$i * 4}px;
    padding-bottom: #{$i * 4}px;
  }

  .paddingY-sm-#{$i} {
    @media only screen and (min-width: pxToEm(600)) and (max-width: pxToEm(768)) {
      padding-top: #{$i * 4}px;
      padding-bottom: #{$i * 4}px;
    }
  }

  .paddingY-md-#{$i} {
    @media only screen and (min-width: pxToEm(768)) and (max-width: pxToEm(996)) {
      padding-top: #{$i * 4}px;
      padding-bottom: #{$i * 4}px;
    }
  }

  .paddingY-lg-#{$i} {
    @media only screen and (min-width: pxToEm(996)) and (max-width: pxToEm(1200)) {
      padding-top: #{$i * 4}px;
      padding-bottom: #{$i * 4}px;
    }
  }

  .paddingY-xl-#{$i} {
    @media only screen and (min-width: pxToEm(1200)) {
      padding-top: #{$i * 4}px;
      padding-bottom: #{$i * 4}px;
    }
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.rounding-pill {
  border-radius: 999px;
}

.rounding-circle {
  border-radius: 50%;
}

@for $i from 8 through 0 {
  .rounding-#{$i} {
    border-radius: #{$i * 4}px;
  }
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.fit {
  width: 100%;
}
