:root {
  --color-primary: #1890ff;
  --color-primary-dark: #2060ff;
  --color-blue: blue;
  --color-red: #e60023;
  --color-red-dark: #ad081b;
  --color-yellow: yellow;
  --color-green: green;
  --color-black: #111;
  --color-white: white;
  --color-text: #111;
  --color-gray: #ddd;
  --color-gray-dark: #e2e2e2;
  --color-disabled: #efefef;
  --color-label-disabled: #767676;

  // shadows
  --shadow-button-focus: 0 0 0 4px rgba(0, 132, 255, 0.5);
}
