.datepicker {
  &__input {
    min-height: 36px;
    padding: 8px 38px 8px 16px;
    width: 100%;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--color-white);
    border-color: #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    font-family: inherit;

    &:focus {
      box-shadow: var(--shadow-button-focus);
      outline: 0;
    }

    &:disabled {
      background-color: var(--color-disabled);
    }

    &--invalid {
      border-color: var(--color-red);
    }
  }

  &__picker-container {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0) translateX(-50%);
    transition: transform 0.2s;
    top: 100%;
    border: 1px solid black;
    z-index: 99999;
  }

  &__input:focus + &__picker-container,
  &__picker-container:focus,
  &__picker-container:hover {
    transform: scaleY(1) translateX(-50%);
  }

  &__current-month {
    text-align: center;
    color: #111;
    font-size: 1rem;
    font-weight: 700;
  }

  &__weekday {
    color: #767676;
    display: inline-block;
    font-size: 1rem;
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 40px;
  }

  .btn--transparent {
    border: none !important;

    &:hover {
      background-color: black;
    }
  }
}
