.heading {
  text-align: left;
  color: var(--color-text);
  font-weight: 400;
  font-size: 3.6rem;
  white-space: break-word;
  margin: 0;

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }

  &--center {
    text-align: center;
  }

  &--white {
    color: var(--color-white);
  }

  &--black {
    color: var(--color-black);
  }

  &--red {
    color: var(--color-red);
  }

  &--blue {
    color: var(--color-blue);
  }

  &--gray {
    color: var(--color-gray);
  }

  &--normal {
    white-space: normal;
  }

  &--sm {
    font-size: 2rem;
  }

  &--md {
    font-size: 2.8rem;
  }

  &--truncate {
    white-space: nowrap !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
